.graphTypeSelect {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 200px;
}

.grid {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
