@import '../../common/styles/common.scss';

.graphTypeSelect {
    width: 200px;
}

.grid {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 2rem;
    }
}

.collapseButton {
    cursor: pointer;
    color: $purple-500;
    
    &:hover {
        color: $purple-300;
    }
}